@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gratina';
    src: url('/Gratina.otf') format('opentype');
}

html, body {
    height: 100%;
}

.gratina {
    font-family: 'Gratina';
}